<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--********************   新增加的，必须是第一个节点   ************************-->
  <configSections>
    <!--sectionGroup节点里面的内容是固定的，但这篇博客https://www.cnblogs.com/xiaoai123/p/6692966.html却说name属性是随意取得，我测试了并不能随便起-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler,Spring.Core" />
    </sectionGroup>
  </configSections>
  
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    
    <objects xmlns="http://www.springframework.net">
      <!--object节点的name属性是可以自己取，在主程序就可以通过这个name属性获得实例对象，看主程序中的：context.GetObject("user") as User
               对于type类型中的SringNetDemo.User、SringNetDemo，其中SringNetDemo.User是 "要实例化的类名(User)所在的命名空间.要实例的类名(User)",
               而SringNetDemo是要实例化的类名(User)所在的命名空间
           -->
      <object name="user" type="SringNetDemo.User">
        <!--两个property节点的name属性都必须对应User类中的两个属性-->
        <property name="userName" value="Arya"></property>
        <property name="userPassword" value="1234567"></property>
      </object>
      <!--如果需要再增加一个类的话，则再在object节点后面增加相同结构的object节点-->
    </objects>
  </spring>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>